<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h5 class="form-header">
              <i class="zmdi zmdi-format-list-numbered"></i>
              Top 10 IT companies 2020
            </h5>
            <button [routerLink]="['/company/add-company']" type="submit" class="btn btn-primary">
              <i class="zmdi zmdi-plus"></i> Add Company
            </button>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table id="example" class="table table-bordered" >
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Company Name</th>
                    <th>Description</th>
                    <th>Logo</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="
                      let company of companys;
                    ">
                    
                    <td>{{ company.id|| "N/A" }}</td>
                   
                    <td>{{ company.name || "N/A" }}</td>
                    <td>{{company.description || "N/A"}}</td>
                  
                   <td ><img src='data:image/jpeg;base64,{{ company.image }}'></td> 

                    <td>
                      <a (click)="updateCompany(company)" class="btn btn-sm btn-primary" style="margin: 5px;"><i
                          class="zmdi zmdi-edit" data-toggle="tooltip" data-placement="top" title="Edit"></i></a>
                      <a class="btn btn-sm btn-danger" (click)="deleteCompany(company)" style="color: black;">
                        <i class="zmdi zmdi-delete" data-toggle="tooltip" data-placement="top" title="Delete"></i>
                      </a>
                    </td>
                    
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>